* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  --c1: rgb(247, 121, 121);
  --c2: rgb(194, 228, 187);
  --c3: rgb(225, 226, 177);
  --c4: rgb(185, 212, 223);
}

.frame {
  position: fixed;
  background-color: white;
  inset: 0;
  padding: 20px;
}

.page {
  background: #fff;
  border-radius: 24px;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.nav_container {
  position: fixed;
  /* top: -20px; */
  width: 50vw;
  margin: 0 25vw;
  display: flex;
  /* margin-top: 0px; */
  background-color: #fff;
  border-radius: 0 0 22px 22px;
  z-index: 100;
  overflow-x: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.nav_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* width: 20vw; */
  font-size: 14px;
  padding: 5px 20px;
}

.element {
  padding: 0px 10px;
}

.logo {
  height: 70px;
  width: 50px;
  margin-right: 30px;
}

.btn {
  padding: 15px;
  background-color: rgb(247, 121, 121);
  border: 1px solid var(--c1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  transition: 0.2s linear;
}

.btn_arrow {
  rotate: 270deg;
  background-color: rgba(255, 255, 255, 0.322);
  padding: 4px;
  border-radius: 100%;
  color: white;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color: #fff;
  color: var(--c1);
  cursor: pointer;
  .btn_arrow {
    rotate: 90deg;
    color: var(--c1);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  position: relative;
  background: linear-gradient(to bottom, #ffffff00 14%, #000000a9 100%),
    url("media/bgimage.png");
  left: -10px;
  height: 96vh;
  width: 99vw;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-position: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* animation: blurAnimation both;
  animation-timeline: view(); */
}

.page::-webkit-scrollbar {
  display: none;
}

.hero_content {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hc1 {
  font-size: 25px;
  color: #fff;
}

.hc2 {
  font-size: 100px;
  font-family: Samarkan;
  color: #fff;
}

.scroll_menu {
  color: #fff;
  width: 100vw;
  margin-top: 20vh;
  border: 3px solid black;
  overflow-x: hidden;
  display: flex;
  padding: 40px;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.37) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.36) 100%
  );
  mix-blend-mode: screen;
}

.scroll_elements {
  display: flex;
  gap: 1em;
  font-size: 28px;
  animation: scroll 40s linear infinite;
  padding-right: 1em;
}

.scroll_menu::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    rgb(0, 0, 0) 100%
  );
  mix-blend-mode: multiply;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.info_els {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 290px;
  text-align: center;
  /* border: 1px solid black; */
}

#mid_section {
  margin: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title_text {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 40px;
  animation: blurAnimation linear;
  animation-timeline: view();
}

.mid_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.card {
  padding: 40px;
  border: none;
  border-radius: 20px;
  height: 35rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 5px 2px 20px 2px rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  .card_image_container {
    letter-spacing: 35px;
  }
  transform: scale(1.1);
  .card_title {
    padding-top: 300px;
    font-size: 80px;
  }
}

.card_image_container {
  font-size: 20px;
  font-family: Uncial Antiqua;
  letter-spacing: 16px;
  padding: 30px;
  transition: 0.2s ease-in-out;
}

.card_title {
  font-size: 65px;
  font-weight: 560;
  padding: 30px;
  font-family: Bonheur Royale;
  transition: 0.7s cubic-bezier(0.14, 0.82, 0.2, 0.88);
}

.card_button {
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: var(--c2);
  background: linear-gradient(
      to bottom,
      #00000044 0%,
      #00000044 70%,
      #000000cc 100%
    ),
    url("media/food.png");
  background-size: cover;
}
.card2 {
  background-color: var(--c3);
  background: linear-gradient(
      to bottom,
      #00000044 0%,
      #00000044 70%,
      #000000cc 100%
    ),
    url("media/fashion.png");
  background-size: cover;
}
.card3 {
  background-color: var(--c4);
  background: linear-gradient(
      to bottom,
      #00000044 0%,
      #00000044 70%,
      #000000cc 100%
    ),
    url("media/arts.png");
  background-size: cover;
  background-position: center;
}

.card1_btn {
  background-color: #fff;
  color: var(--c2);
  font-size: 17px;
  transition: 0.2s linear;
}
.card2_btn {
  background-color: #fff;
  color: var(--c3);
  font-size: 17px;
  transition: 0.2s linear;
}
.card3_btn {
  background-color: #fff;
  color: var(--c4);
  font-size: 17px;
  transition: 0.2s linear;
}

@keyframes blurAnimation {
  0% {
    filter: blur(10px);
  }

  35%,
  80% {
    filter: blur(0px);
  }

  100% {
    filter: blur(10px);
  }
}

.map_section {
  width: 90%;
  height: 80vh;
  background-color: var(--c3);
  text-wrap: wrap;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common_section {
  width: 60vw;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.region1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.img_r1_box {
  /* background-color: aqua; */
  width: 20vw;
  height: 40vh;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.text_r1_box {
  display: flex;
  flex-direction: column;
  /* background-color:burlywood; */
  border-radius: 25px;
  width: 35vw;
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.region2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.img_r2_box {
  /* background-color: aqua; */
  width: 20vw;
  height: 40vh;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.text_r2_box {
  display: flex;
  flex-direction: column;
  /* background-color:burlywood; */
  border-radius: 25px;
  width: 35vw;
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.title {
  font-size: 40px;
  padding: 25px;
  padding-bottom: 5px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
}

.c_box1 {
  background: linear-gradient(
      to bottom,
      #00000000 0%,
      #00000000 70%,
      #00000000 100%
    ),
    url("media/kumbh.png");
  background-size: cover;
  background-position: center;
}
.c_box2 {
  background: linear-gradient(
      to bottom,
      #00000000 0%,
      #00000000 70%,
      #00000000 100%
    ),
    url("media/frog.png");
  background-size: cover;
  background-position: center;
}
.c_box3 {
  background: linear-gradient(
      to bottom,
      #00000000 0%,
      #00000000 70%,
      #00000000 100%
    ),
    url("media/tilak.png");
  background-size: cover;
  background-position: center;
}
.c_box4 {
  background: linear-gradient(
      to bottom,
      #00000000 0%,
      #00000000 70%,
      #00000000 100%
    ),
    url("media/snake_race.jpeg");
  background-size: cover;
  background-position: center;
}

.form_section {
  width: 70vw;
  position: relative;
  /* height: 70vh; */
  margin: -100px auto;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  top: 30vh;
  z-index: 20;
  overflow-wrap: normal;
  border-radius: 25px;
  background: linear-gradient(
      to bottom,
      #00000038 0%,
      #00000038 100%
    ),
    url("media/bgimage.png");
  background-size: cover;
  background-position: center;
}

.form_box {
  padding: 40px;
}

footer {
  width: 98vw;
  /* height: 80vh; */
  background-color: var(--c1);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  border-radius: 25px;
}

.f_left, .f_right {
  padding: 30px;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 .f_right {
  padding: 30px;
  margin-top: 40vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}

.f_logo {
  width: 400px;
  height: 400px;
  padding: 30px;
}

.f_copyright_box {
  padding-left: 90px;
}

.fc1, .fc2, .fc3,.f_caption_box {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}


.f_caption_box {
  gap: 5px;
  font-weight: 300;
}


.f_title_box {
  padding: 30px;
  padding-left: 0;
}

#cultureForm {
  display: flex;
  flex-direction: column;
}

input {
  padding-left: 40px;
  background: url("media/emblem.svg") no-repeat 12px center,
  white;
  background-size: 18px;
}

label {
  padding-top: 20px;
}

input, select, textarea {
  width: 30vw;
  border-radius: 12px;
  border: none;
  height: 50px;
}

select {
  width: 32vw;
}

textarea{
  width: 31vw;
  height: 90px;
  padding: 10px;
}

.submit {
  margin-top: 20px;
  padding: 20px;
  width: 200px;
  background-color: lightgreen;
  border-color: lightgreen;
}


