* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

:root {
  --c1: rgb(247, 121, 121);
  --c2: rgb(194, 228, 187);
  --c3: rgb(225, 226, 177);
  --c4: rgb(185, 212, 223);
}

.frame {
  position: fixed;
  background-color: white;
  inset: 0;
  padding: 20px;
}

.page {
  background: #fff;
  border-radius: 24px;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.nav_container {
  position: fixed;
  /* top: -20px; */
  width: 50vw;
  margin: 0 30rem;
  display: flex;
  /* margin-top: 0px; */
  background-color: #fff;
  border-radius: 0 0 22px 22px;  
  z-index: 100;
  overflow-x: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.nav_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* width: 20vw; */
  font-size: 14px;
  padding: 5px 20px;
}

.element {
  padding: 0px 10px;
}

.logo {
  height: 70px;
  width: 50px;
  margin-right: 30px;
}

.btn {
  padding: 15px;
  background-color: rgb(247, 121, 121);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.btn_arrow {
  rotate: 270deg;
  background-color: rgba(255, 255, 255, 0.322);
  padding: 4px;
  border-radius: 100%;
  color: white;
}

a {
  text-decoration: none;
}

.hero {
  position: relative;
  background: 
    linear-gradient(to bottom, #ffffff00 14%, #000000a9 100%),
    url("media/bgimage.png");
  left: -10px;
  height: 96vh;
  width:100vw;
  overflow-x:hidden;
  /* background-size:cover; */
  background-position: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.page::-webkit-scrollbar {
  display: none;
}

.hero_content {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hc1 {
  font-size: 25px;
  color: #fff;
}

.hc2 {
  font-size: 100px;
  font-family: Samarkan;
  color: #fff;
}

.scroll_menu {
  color: #fff;
  width: 100vw;
  margin-top: 20vh;
  border: 3px solid black;
  overflow-x: hidden;
  display: flex;
  padding: 40px;
  background: #000000;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.37) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, 0.36) 100%);
  mix-blend-mode:screen;
}

.scroll_elements {
  display: flex;
  gap: 1em;
  font-size: 28px;
  animation: scroll 40s linear infinite;
  padding-right: 1em;
}

.scroll_menu::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  background: linear-gradient(90deg,rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgb(0, 0, 0) 100%);
  mix-blend-mode: multiply;
}

@keyframes scroll {
  0%   { transform: translateY(0); }
  100% { transform: translateX(-100%); }
}

.info_els {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 290px;
  text-align: center;
  /* border: 1px solid black; */
}

.mid_section {
  margin: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title_text {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 30px;
}

.mid_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.card {
  padding: 40px;
  
  border-radius: 20px;
}

.card_image_container {
  overflow: hidden;
  border-radius: 100%;
}

.card_image {
  height: 20rem;
  width: 20rem;
  /* transform: scale(1.3); */
}


.card_title {
  font-size: 25px;
  font-weight: 500;
  padding: 30px;
}

.card_button {
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: var(--c2);
}
.card2 {
  background-color: var(--c3);
}
.card3 {
  background-color: var(--c4);
}

.card1_btn {
  background-color: #fff;
  color: var(--c2);
  font-size: 17px;
  transition: 0.2s linear;
}
.card2_btn {
  background-color: #fff;
  color: var(--c3);
  font-size: 17px;
  transition: 0.2s linear;
}
.card3_btn {
  background-color: #fff;
  color: var(--c4);
  font-size: 17px;
  transition: 0.2s linear;
}

.card1_btn:hover, .card2_btn:hover, .card3_btn:hover {
  background-color: black;
  color: #fff;
}
